<form method="POST" action="{{ site.staticman_url }}" class="comment-form" id="comment-form">
  <section id="commented" style="display: none">
    Thank you for submitting your comment! It is held for moderation and will be reviewed shortly.
  </section>
  <script type="text/javascript">
    if (window.location.hash == '#commented') {
      document.getElementById('commented').style.display = 'block';
    }
  </script>
  <input
    name="options[redirect]"
    type="hidden"
    value="{{ page.url | absolute_url }}#commented"
  />
  <input name="options[slug]" type="hidden" value="{{ page.slug }}" />

  <textarea
    class="comment-message"
    name="fields[message]"
    placeholder="Comment (markdown accepted)"
    required
  ></textarea>
  <div class="comment-bottom">
    <input
      class="comment-name"
      name="fields[name]"
      type="text"
      placeholder="Name"
      required
    />
    <button class="comment-submit" type="submit">SEND</button>
  </div>
</form>
