<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Alegreya:ital,wght@0,400;0,700;1,400&family=Alegreya+Sans:ital,wght@0,400;0,700;1,400&display=swap"
  rel="stylesheet"
/>
<link
  rel="preload"
  href="https://fonts.gstatic.com/s/alegreya/v35/4UaBrEBBsBhlBjvfkSLhx6g.woff2"
  crossorigin
  as="font"
  type="font/woff2"
/>
<link
  rel="preload"
  href="https://fonts.gstatic.com/s/alegreya/v35/4UaSrEBBsBhlBjvfkSLk3abBFkvpkARTPlbgv5qhmSU.woff2"
  crossorigin
  as="font"
  type="font/woff2"
/>
<link
  rel="preload"
  href="https://fonts.gstatic.com/s/alegreyasc/v25/taiOGmRtCJ62-O0HhNEa-Z6v2ZA.woff2"
  crossorigin
  as="font"
  type="font/woff2"
/>
<link
  rel="preload"
  href="https://fonts.gstatic.com/s/alegreyasans/v24/5aUt9_-1phKLFgshYDvh6Vwt7V9dv21T.woff2"
  crossorigin
  as="font"
  type="font/woff2"
/>
<link
  rel="preload"
  href="https://fonts.gstatic.com/s/alegreyasans/v24/5aUz9_-1phKLFgshYDvh6Vwt7VptvQ.woff2"
  crossorigin
  as="font"
  type="font/woff2"
/>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#8ac1eb">
<script type="text/javascript" src="/assets/js/main.js?v={{ site.time | date:'%s' }}"></script>
