.character-portrait {
  text-align: center;
  width: 300px;
  margin-bottom: 16px;
}

@media (min-width: 800px) {
  .character-portrait {
    float: right;
    margin-left: 16px;
  }
}

figcaption {
  font-family: $aside-font-family;
}

.character-art {
  margin: auto;
  text-align: center;
  width: 300px;
  margin-top: 32px;
  margin-bottom: 32px;
}

h2 {
  margin-top: 22px;
}

.afternote {
  text-align: right;
  font-style: italic;
}

blockquote {
  font-family: $aside-font-family;
  font-style: normal;
}

ol li:not(:first-child) {
  margin-top: 5px;
}

.footnotes {
  margin-top: 32px;
  border-top: 1px solid $border-color-01;
  padding-top: 8px;
}
