
@media (min-width: 800px) {
  .character-portrait {
    float: right;
    width: 300px;
    margin-left: 16px;
  }
}

figcaption {
  font-family: $aside-font-family;
}

.character-portrait {
  text-align: center;
  margin-bottom: 16px;
}
